
:root {

  font-size: 13px;
  /* Typography Variables - Mobile First */
    --font-h1: 3rem;
    --font-h2: 2.5rem;
    --font-h3: 2rem;
    --font-h4: 1.75rem;
    --font-h5: 1.5rem;
    --font-h6: 1.25rem;

  --font-p-sm: 12px;
  --font-p-md: 16px;
  --font-p-lg: 18px;
}

@media (min-width: 768px) {
  :root {
    font-size: 14px;

    --font-p-sm: 13px;
    --font-p-md: 17px;
    --font-p-lg: 19px;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 16px;

    --font-p-sm: 14px;
    --font-p-md: 18px;
    --font-p-lg: 20px;
  }
}
