/* Styles */
@keyframes slide {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.slide {
	animation: slide 0.3s cubic-bezier(0, 0, 0.58, 1);
}

@keyframes slide-down {
	100% {
		transform: translateY(20px);
		opacity: 0;
	}

	0% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.slide-down {
	animation: slide-down 0.3s cubic-bezier(0, 0, 0.58, 1);
}

* {
	transition:
		var(--theme-transition);
}

body {
	margin: 0;
	padding: 0;
}


.scrollbar {
	&::-webkit-scrollbar {
		width: 0.375rem;
		height: 0.375rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background-color: oklch(92.8% 0.006 264.531);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: oklch(92.8% 0.006 264.531);
		border-radius: 0.125rem;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: oklch(70.7% 0.022 261.325);
		opacity: 0.9;
	}
}

.dark .scrollbar {

	&::-webkit-scrollbar-track {
		background-color: oklch(37.3% 0.034 259.733);
	}

	&::-webkit-scrollbar-thumb {
		background-color: oklch(55.1% 0.027 264.364);
		border-radius: 0.125rem;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: oklch(70.7% 0.022 261.325);
		opacity: 0.9;
	}
}


.toc-details p, .toc-details li, .toc-details ul {
	padding-bottom: 0.25rem !important;
}

.toc {
	margin: 1rem 0 !important;
	ul > li {
		p, a {
			color: oklch(62.3% 0.214 259.815) !important;
		}
		ul > li {
			p, a {
				color: #22c55e !important;
			}
		}
	}
}

.dark .toc {
	margin: 1rem 0 !important;
	ul > li {
		p, a {
			color: #93c5fd !important;
		}
		ul > li {
			p, a {
				color: #7bf1a8 !important;
			}
		}
	}
}

.medium {
	background-color: oklch(82.8% 0.111 230.318);
}

.hard {
	background-color: oklch(83.7% 0.128 66.29);
}

.easy {
	background-color: #7bf1a8;
}

.dark .medium {
	background-color: oklch(50% 0.134 242.749);
}

.dark .hard {
	background-color: oklch(55.3% 0.195 38.402);
}

.dark .easy {
	background-color:  oklch(52.7% 0.154 150.069) ;
}

html {
	scroll-behavior: smooth;
}